<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vitae reprehenderit asperiores. Atque neque deleniti voluptatum earum rerum. Aliquid deserunt blanditiis quod expedita dignissimos quidem earum impedit exercitationem pariatur facilis.
</body>
</html>